:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-background: hsl(0, 0%, 95%);
  --color-input-light: hsl(0, 0%, 52%);
  --color-text-light: hsl(200, 15%, 8%);

  --color-dark-background: hsl(207, 26%, 17%);
  --color-dark-elements: hsl(209, 23%, 22%);

  --font-size: 16px;

  --font-light: 300;
  --font-bold: 600;
  --font-bolder: 800;
}
